<!-- Contact Modal -->
<div aria-hidden='true' aria-labelledby='contactModalLabel' class='modal fade'
id='contactModal' role='dialog' tabindex='-1' ng-controller="ContactController", ng-init="contact.subject='Contact Us';">
  <div class='modal-dialog container'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
        <h4 class='modal-title'>Contact Us Form</h4>
      </div>
      <div class='modal-body'>
        <div class="alert alert-warning" ng-show="message"> {{message}} </div>
        <form action='#' role='form'>
          <div class='form-group'>
            <div class='row'>
              <div class='col-md-6'>
                <label class='control-label' for=''>Your Name</label>
                <input class='form-control' placeholder='Name' type='text' ng-model="contact.name">
              </div>
              <div class='col-md-6'>
                <label class='control-label' for=''>Your Email</label>
                <input class='form-control' placeholder='Email' type='text' ng-model="contact.email">
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='row'>
              <div class='col-md-12'>
                <label class='control-label' for=''>Your Message</label>
                <textarea class='form-control' name='' rows='4' placeholder="Message" ng-model="contact.text"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal' type='button'>Cancel</button>
        <button class='btn btn-primary' type='button' ng-click="sendMessage()">Send Message</button>
      </div>
    </div>
  </div>
</div>
