<div class="panel panel-primary" ng-show="feedbackOn" style="position: fixed; bottom: -2px; right: 11px; width:300px; z-index:10000; margin-bottom : 0px;"
ng-blur="feedbackOn = false" , ng-controller="FeedbackController">
  <div class="panel-heading">
    <a class="close" href="#" ng-click="feedbackOn=false">X</a>Give us feedback!&nbsp;</div>
  <div class="panel-body">
    <form>
      <textarea class="form-control" style="resize:none;" id="textarea" rows="6"
      placeholder="Share with us your thoughts" ng-model="feedback.description"></textarea>
      <p></p>
      <button type="button" class="btn btn-md btn-default pull-right" ng-click="sendFeedback(); feedbackStatus = 'sending';"
      ng-disabled="feedbackStatus == 'sending'" ng-hide="feedbackStatus == 'sent'">Send</button>
      <p ng-show="feedbackStatus == 'sent'">Thank you! We really appreciate it.</p>
    </form>
  </div>
</div>
<button class="btn btn-primary" style="position: fixed; bottom: -2px; right: 11px; z-index:10000;"
ng-click="feedbackOn = true" ng-show="!feedbackOn">Give us feedback!&nbsp;
  <div class="glyphicon glyphicon-thumbs-up"></div>
</button>