<!-- <footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="footer-menu">
          <li>
            <a href="/privacy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms.html">Terms of Service</a>
          </li>
          <li>
            <a data-toggle='modal' href='#contactModal'>Contact Us</a>
          </li>
        </ul>
        <div class="copyright">2013 &copy; chatsey. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer> -->