<script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
<div class='header-main navbar-fixed-top' ng-controller="NavController">
    <div class='container'>
        <nav height='50px' class='navbar navbar-default' role='navigation'>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-ex1-collapse' data-toggle='collapse'
                type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='current navbar-brand' href='index.html'>
              <img alt='' height='50px' src='/img/logo.png'>
            </a>
            </div>
            <div class='collapse navbar-collapse navbar-ex1-collapse'>
                <!--<a class='btn btn-default navbar-btn navbar-right' data-toggle='modal'-->
                <!--href='/signup.html'>-->
                <!-- Sign Up-->
                <!-- <i class='icon-arrow-up'></i>-->
                <!-- </a>-->
                <a class='btn btn-default navbar-btn navbar-right' data-toggle='modal'
                href='/signin.html'>
              Sign In
              <i class='icon-signin'></i>
            </a>
                <ul class='nav navbar-nav navbar-right'>
                    <!--<li class='current active'>-->
                    <!-- <a class='current' href='index.html'>Home</a>-->
                    <!--</li>-->
                    <!-- <li>
                        <a href='about.html'>About Us</a>
                    </li> -->
                    <li>
                        <a data-toggle='modal' href='#contactModal'>Contact Us</a>
                    </li>
                </ul>
            </div>  
        </nav>
    </div>
    <!--<div class="separator-shadow-bottom">-->
    <!--    <img alt="" src="assets/images/shadow-separator-wide-bottom.png">-->
    <!--</div>-->
</div>