<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="infoModalLabel" ng-hide="currentInfo.meeting._id">Detail</h3>
        <div ng-show="currentInfo.meeting._id">
          <h2 class="list-group-item-heading" ng-show="currentInfo.meeting.to.username==user.username">Meet with {{currentInfo.meeting.from.username}}, at {{currentInfo.meeting.time.from}}
            on {{currentInfo.meeting.date}}, {{currentInfo.meeting.place}}</h2>
          <h2
          class="list-group-item-heading" ng-show="currentInfo.meeting.from.username==user.username">Meet with {{currentInfo.meeting.to.username}}, at {{currentInfo.meeting.time.from}}
            on {{currentInfo.meeting.date}}, {{currentInfo.meeting.place}}</h2>
        </div>
      </div>
      <div class="modal-body">
        <div style="">
          <div ng-show="currentInfo.meeting._id">
            <div ng-show="currentInfo.meeting.to.username==user.username">
              <b>{{currentInfo.meeting.from.username}}</b>wants to talk about {{currentInfo.meeting.from.status}}</div>
            <div
            ng-show="currentInfo.meeting.from.username==user.username">
              <b>{{currentInfo.meeting.to.username}}</b>wants to talk about {{currentInfo.meeting.to.status}}</div>
          <div>
            <b>{{currentInfo.meeting.from.username}}</b>says,
            <i>&ldquo;{{currentInfo.meeting.message}}</i>&rdquo;</div>
        </div>
        <div>
          <span>
            <b>Location:</b>{{currentInfo.place}}</span>
        </div>
        <div ng-show="currentInfo.meeting._id">
          <b>Detail:</b>{{currentInfo.meeting.detailedPlace}}</span>
        </div>
        <div>
          <span>
            <b>Date:</b>{{currentInfo.day}} {{currentInfo.date}}</span>
        </div>
        <div>
          <span>
            <b>Time:</b>{{currentInfo.time.from}} - {{currentInfo.time.to}}</span>
        </div>
        <div ng-show="currentInfo.meeting.note">
          <span>
            <b>Note:</b>{{currentInfo.meeting.note}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>