<!doctype html>
<html lang="en">
  <!-- ******************** INCLUDES **********************-->
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='assets/css/app.css'>
    <link rel='stylesheet' href='assets/css/animate.min.css'>
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
    <!--rel='stylesheet' type='text/css'>-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    rel="stylesheet">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
    <title>chatsey</title>
    <script src='assets/js/jquery.js'></script>
    <script src='assets/js/bootstrap/button.js'></script>
    <script src='assets/js/bootstrap/carousel.js'></script>
    <script src='assets/js/bootstrap/transition.js'></script>
    <script src='assets/js/bootstrap/collapse.js'></script>
    <script src='assets/js/bootstrap/modal.js'></script>
    <script src='assets/js/bootstrap/dropdown.js'></script>
    <script src='assets/js/jquery.visible.min.js'></script>
    <script src='assets/js/bootstrap/tab.js'></script>
    <script src='assets/js/jquery.isotope.min.js'></script>
    <script src='assets/js/jquery.knob.js'></script>
    <script src='assets/js/jquery.scrollUp.min.js'></script>
    <script src='assets/js/application.js'></script>
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
    <script src="assets/js/moment-with-langs.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!--<script src="assets/js/typeahead.js"></script>-->
    <script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/js/common/date.js"></script>
    <script src="/js/common/nav.js"></script>
    <script src="/js/common/feedback.js"></script>
    <script src='/js/common/contact.js'></script>
    <script src="/js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/async.js"></script>
    <script src="/js/mainpage.js"></script>
    <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
    </script>
    <link rel="stylesheet" href="/css/app.css">
    <style>
      .table-borderless td {
        border:none;
      }
    </style>
  </head>
  <!-- ************** END OF INCLUDES **************** -->
  <!-- *********** MAIN CODE BODY ************ -->
  
  <body ng-cloak ng-controller="MainPageController">
    <div ng-include="'/nav.html'" , onload="page='mainpage'"></div>
    <div style="background-color:#F0F0F0;">
      <div class="container">
        <!-- Alert -->
        <div style="position: fixed; top: 90px; right: -5px; z-index:10000;" class="alert col-md-3"
        ng-class="{'alert-danger': status=='error', 'alert-info': status =='saving', 'alert-success':status=='saved'}"
        ng-show="notificationMessage">{{notificationMessage}}</div>
        <br>
        <!-- ********** STREAM DATA FROM CURRENT USERS *************** -->
        <h3 style="color:orange;">You're ready for a meetup?</h3>
        <div class="list-group">
          <div class="list-group-item row nomargin" style="box-shadow: 0px 0px 5px rgb(200,200,200)">
            <div class="col-sm-3 col-xs-12" style="text-align:center">
              <img ng-src="{{user.picture}}" class="thumbnail img-rounded col-sm-12"
              style="margin:auto;">
              <h4 class="list-group-item-heading">{{user.username}}</h4>
              <div class="list-group-item-text">{{user.course}}</div>
            </div>
            <div class="col-sm-9 col-xs-12" ng-init="editButtonStatus='Edit'">
              <h4 class="list-group-item-text" ng-click="editTopic=editModeOn(user.status, 'statusInput')">
                <span ng-hide="editTopic">
                  <b>Topic of Interest:</b>
                  <span ng-show="user.status">{{user.status}}</span>
                  <span ng-hide="user.status">Not Specified</span>
                </span>
                <span ng-hide="editTopic" class="icon-edit"></span>
                <textarea id="statusInput" type="text" ng-show="editTopic" ng-model="user.status"
                ng-blur="editTopic=editModeOff()" class="form-control" ng-keyup="editTopic = onKeyUp($event,user.status)"></textarea>
              </h4>
              <div style="margin-bottom:20px"></div>
              <!--<div class="alert alert-info" ng-show="infoTime || infoEdit">-->
              <!--  <span ng-show="infoTime">{{infoTime}}</span>-->
              <!--  <br ng-show="infoTime && infoEdit">-->
              <!--  <span ng-show="infoEdit">{{infoEdit}}</span>-->
              <!--</div>-->
              <!--<div data="id" style="display:none;">{{user._id}}</div>
              <div ng-if="editButtonStatus=='Done'" ui-calendar="uiEditConfig.calendar"
              ng-model="user.eventSources"></div>
              <div ng-if="editButtonStatus=='Edit'" ui-calendar="uiConfig.calendar"
              ng-model="user.eventSources"></div>
              <div class="margin-bottom-20"></div>
              <button class="btn btn-primary pull-right" , ng-click="editCalendar()">{{editButtonStatus}}
                <script>
                  //SEGMENT.IO TRACKING CODE
                  analytics.track('Finder-ClickEditCalendar', {
                    event: 'Click'
                  });
                </script>
              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ******** STREAM DATA FROM OTHER USERS ************ -->
    <div style="background-color:rgb(240,240,240); border-bottom-width:3px; border-bottom-color:#fc892d; border-bottom-style:solid">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-5">
            <h3 style="color:orange;">Now invite someone!</h3>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <h3>
              <input class="form-control" type="text" ng-change="queryUser(query)" ng-model="query"
              placeholder="Search for Topic" style="font-family:'lucida grande'">
            </h3>
          </div>
        </div>
        <br>
        <!-- ********** RECOMMEND USERS *************** -->
        <div ng-show="false && suggestions != null">
          <h4>Our suggestions:</h4>
          <div class="row">
            <div class="col-sm-1" ng-repeat="suggestion in suggestions">
              <img ng-src="{{suggestion.picture}}" class="thumbnail img-rounded col-sm-12"
              style="margin:auto;" ng-click="toggleSuggestion(suggestion)"></img>
            </div>
          </div>
          <br>
          <div id='collapsibleSuggestionBox' class="collapse">
            <div class="list-group">
              <div class="list-group-item row nomargin" style="padding:20px;">
                <div class="col-sm-3" style="text-align:center">
                  <img ng-src="{{suggestion.picture}}" class="thumbnail img-rounded col-sm-12"
                  style="margin:auto;">
                  <h4 class="list-group-item-heading">{{suggestion.username}}</h4>
                  <div class="list-group-item-text">{{suggestion.course}}</div>
                  <h4 class="list-group-item-text">{{suggestion.status}}</h4>
                </div>
                <!--<div class="col-sm-9">
                  <div data="id" style="display:none;">{{suggestion._id}}</div>
                  <div ui-calendar="uiConfig.calendar" ng-model="suggestion.eventSources"></div>
                </div>-->
              </div>
            </div>
            <br>
          </div>
        </div>
        <!-- ********************* SEARCH FUNCTION ******************-->
        <!--*************** OTHER USERS DATA *****************-->
        <div class="list-group badge-wrapper" ng-repeat="other_user in other_users track by $id(other_user._id)"
        style="box-shadow: 0px 0px 5px rgb(200,200,200); cursor: pointer;" ng-click="invite(other_user)">
          <div class="badge" ng-show="other_user.suggested">Suggested</div>
          <div class="list-group-item animate-repeat row nomargin"
          style="padding:20px;">
            <div class="col-sm-3 col-xs-12" style="text-align:center">
              <img ng-src="{{other_user.picture}}" class="thumbnail img-rounded col-sm-12"
              style="margin:auto;">
              <h4 class="list-group-item-heading">{{other_user.username}}</h4>
              <div class="list-group-item-text">{{other_user.course}}</div>
              <!-- <div class="list-group-item-text">
                                <b>{{other_user.status}}</b>
                            </div> --></div>
            <div class="col-sm-9 col-xs-12">
              <h4 class="list-group-item-text">
                <b>Topic of Interest:</b>
                <span ng-show="other_user.status">{{other_user.status}}</span>
                <span ng-hide="other_user.status">Not Specified</span>
              </h4>
              <div style="margin-bottom:20px"></div>
              <div data="id" style="display:none;">{{other_user._id}}</div>
              <!--<div ui-calendar="otherUiConfig.calendar" ng-model="other_user.eventSources"></div>-->
              <!--<div class="list-group-item-text container">-->
              <!--<div class="row">{{other_user.status}}</div>-->
              <!--div class="row">
                            <span>Location: {{other_user.location}}</span>
                        </div-->
              <!-- Display current user available time -->
              <!--<div class="row" ng-repeat="availtime in other_user.availtime">-->
              <!-- <button class="btn btn-default col-sm-12" ng-class="{'btn-primary':availtime.common}"-->
              <!-- ng-click="sendInvitation(other_user,availtime)">{{availtime.date}} {{availtime.day}}, {{availtime.time.from}} - {{availtime.time.to}}-->
              <!-- {{availtime.place}}</li>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <div style="text-align:right">
          <ul class="pagination" ng-show="totalPages > 1">
            <li>
              <a href="#" ng-click="prevPage()">&laquo;</a>
            </li>
            <li ng-class="{'active': pageNumber==i }" ng-repeat="i in pageNumberArray"
            ng-click="goto(i)">
              <a href="#">{{i}}</a>
            </li>
            <li>
              <a href="#" ng-click="nextPage()">&raquo;</a>
            </li>
          </ul>
        </div>
        <br>
      </div>
    </div>
    <!-- ****************** INVITATION LETTER POPUP ****************** -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
      <div class="modal-dialog container">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">A beer will be ordered for {{invitedUser.username}}. Now invite {{invitedUser.username}} to meetup!</h3>
          </div>
          <div class="alert alert-warning" ng-show="invitedUser.warnmessage" style="margin:0px">{{invitedUser.warnmessage}}</div>
          <div class="alert alert-danger" style="margin:0px"
          ng-show="invitedUser.dangermessage">{{invitedUser.dangermessage}}</div>
          <div class="modal-body">
            <div>
              <table class="table table-hover borderless">
                <tbody>
                  <tr>
                    <td style="border:none;" class="col-md-2">
                      <b>When</b>
                    </td>
                    <td style="border:none;">{{invitedUser.day}} {{invitedUser.date}} , {{invitedUser.time.from}} -
                      {{invitedUser.time.to}}</td>
                  </tr>
                  <tr>
                    <td style="border:none;">
                      <b>Where</b>
                    </td>
                    <td style="border:none;" ng-click="editLocation()">
                      <p>{{invitedUser.place}}</p>
                      <p ng-hide="showEditLocation" ng-class="{'text-muted' : !invitedUser.detailedPlace}">{{invitedUser.detailedPlace || "Please specify a specific location"}}</p>
                      <input
                      id="locationInput" ng-show="showEditLocation" class="form-control" type="text"
                      ng-model="invitedUser.detailedPlace" ng-blur="showEditLocation = false"
                      placeholder="Specify detailed location" typeahead="location for location in locationSuggestions | filter:$viewValue | limitTo:8">
                    </td>
                  </tr>
                  <tr>
                    <td style="border:none;">
                      <b>Message</b>
                    </td>
                    <td style="border:none;" ng-click="editMessage()">
                      <p ng-hide="showEditMessage" ng-class="{'text-muted' : !invitedUser.message}">{{invitedUser.message || "No content"}}</p>
                      <textarea class="form-control"
                      style="resize:none;" id="msgInput" rows="6" placeholder="Your message content"
                      ng-model="invitedUser.message" ng-blur="showEditMessage = false" ng-show="showEditMessage"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="sendMessage()">Send</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancelEvent(currentEvent)"
            aria-hidden="true">×</button>
            <h3 id="editModalLabel">{{formatTime(currentEvent)}}</h3>
            <h4>Select Location</h4>
          </div>
          <div class="modal-body">
            <div class="radio" ng-repeat="place in places">
              <label>
                <input type="radio" name="optionsRadios" ng-model="currentEvent.title"
                value="{{place}}">{{place}}</label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"
            ng-click="cancelEvent(currentEvent)">Delete</button>
            <button class="btn btn-primary" ng-click="createEvent(currentEvent)">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- ********** FOOTER & OTHERS ***************** -->
    <div ng-include="'/infomodal.html'"></div>
    <div ng-include="'/feedback.html'"></div>
    <!-- Footer -->
    <div ng-include="'/contact.html'"></div>
    <div ng-include="'/footer.html'"></div>
    <!-- <div id="footer">
              <div class="container">
              <div class="row">
                <div class="col-md-10">
                    <p class="credit" style="font-size: 12px;">
                        Copyright © 2013 SoulBook Inc. All rights reserved.
                    </p>  
                </div>
                
                    
                </div>
                  
              </div>
                
              </div>
            </div> -->
  </body>

</html>
