<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='assets/css/app.css'>
        <link rel='stylesheet' href='assets/css/animate.min.css'>
        <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
        <!--rel='stylesheet' type='text/css'>-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
        rel="stylesheet">
        <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
        <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
        <title>chatsey</title>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script src='assets/js/jquery.js'></script>
        <script src='assets/js/bootstrap/button.js'></script>
        <script src='assets/js/bootstrap/carousel.js'></script>
        <script src='assets/js/bootstrap/transition.js'></script>
        <script src='assets/js/bootstrap/collapse.js'></script>
        <script src='assets/js/bootstrap/modal.js'></script>
        <script src='assets/js/bootstrap/dropdown.js'></script>
        <script src='assets/js/jquery.visible.min.js'></script>
        <script src='assets/js/bootstrap/tab.js'></script>
        <script src='assets/js/jquery.isotope.min.js'></script>
        <script src='assets/js/jquery.knob.js'></script>
        <script src='assets/js/jquery.scrollUp.min.js'></script>
        <script src='assets/js/application.js'></script>
        <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
        <link rel="stylesheet" href="/css/app.css">
        <script src="assets/js/moment-with-langs.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-animate.min.js"></script>
        <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/bower_components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="/js/common/date.js"></script>
        <script src="/js/common/nav.js"></script>
        <script src="/js/common/feedback.js"></script>
        <script src='/js/common/contact.js'></script>
        <script src="/js/mymeetings.js"></script>
        <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
    </head>
    
    <body ng-cloak ng-controller="MeetingController">
        <div ng-include="'/nav.html'" , onload="page='mymeetings'"></div>
        <div class="container" ng-init="tab='inc';">
            <!--<div>-->
            <!-- <h3 style="">Soul Meetings</h3>-->
            <!--</div>-->
            <!-- Upcoming meetings -->
            <h3 style="">Upcoming meetings
                <span class="badge badge-info">{{confirmedevents.length}}</span>
                <!--<button class="btn btn-success">-->
                <!-- <i class="glyphicon glyphicon-calendar"></i>-->
                <!--</button>-->
            </h3>
            <div ng-show="(!confirmedmeetings || confirmedmeetings.length == 0)">
                <span>No upcoming meetings.</span>
            </div>
            <br>
            <!--<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>-->
            <br>
            <div id="carousel-example-generic" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" ng-repeat="meeting in confirmedmeetings"
                    data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item list-group" style="margin:1px;" ng-class="{'active': $index==0}"
                    ng-repeat="meeting in confirmedmeetings" , ng-init="initChat(meeting)">
                        <!-- padding: 50px 150px 70px; -->
                        <div class="list-group-item animate-repeat row nomargin" style="min-height:320px; padding: 20px 20px 50px 20px;">
                            <div class="col-sm-3" ng-show="meeting.from._id == user._id">
                                <img ng-src="{{meeting.to.picture}}" class="thumbnail img-rounded col-sm-12"
                                style="margin:auto;">
                            </div>
                            <div class="col-sm-3" ng-show="meeting.to._id == user._id">
                                <img ng-src="{{meeting.from.picture}}" class="thumbnail img-rounded col-sm-12"
                                style="margin:auto;">
                            </div>
                            <div class="col-sm-9">
                                <h2 class="list-group-item-heading" ng-show="meeting.to.username==user.username">Meet with {{meeting.from.username}}, at {{meeting.time.from}} on {{meeting.date}},
                                    {{meeting.place}}</h2>
                                <h2 class="list-group-item-heading" ng-show="meeting.from.username==user.username">Meet with {{meeting.to.username}}, at {{meeting.time.from}} on {{meeting.date}},
                                    {{meeting.place}}</h2>
                                <div class="list-group-item-text container">
                                    <div class="row" ng-show="meeting.to.username==user.username">
                                        <b>{{meeting.from.username}}</b>wants to talk about {{meeting.from.status}}</div>
                                    <div
                                    class="row" ng-show="meeting.from.username==user.username">
                                        <b>{{meeting.to.username}}</b>wants to talk about {{meeting.to.status}}</div>
                                <div
                                class="row">
                                    <b>{{meeting.from.username}}</b>says, &ldquo;
                                    <i>{{meeting.message}}</i>&rdquo;</div>
                            <div class="row">
                                <span>
                                    <b>Location:</b>{{meeting.place}}</span>
                            </div>
                            <div class="row" ng-show="meeting.detailedPlace">
                                <span>
                                    <b>Detail:</b>{{meeting.detailedPlace}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Date:</b>{{meeting.day}} {{meeting.date}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Time:</b>{{meeting.time.from}} - {{meeting.time.to}}</span>
                            </div>
                            <!--<div class="row">
                                <span ng-click="editNote(meeting)" ng-hide="meeting.showEditNote">
                                    <b>Note:</b>{{meeting.note}}
                                    <i class="icon-edit"></i>
                                </span>
                                <input class="form-control" id="noteinput" type="text" ng-model="meeting.note"
                                ng-show="meeting.showEditNote" ng-blur="updateNote(meeting)"></input>
                            </div>-->
                            <br>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Click here for a small chat!
        </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <!--<body ng-repeat="message in meeting.chatLog" data-spy="scroll" data-target="#navbar-example">{{message.name}}: {{message.text}}</body>-->
                                            <div ng-repeat="message in
                                            meeting.chatLog" data-spy="scroll" ng-class="{'otherChat': message.name!=user.username }">{{message.name}}: {{message.text}}</div>
                                            <input type='text' id='messageInput'
                                            class="form-control" placeholder='Message' ng-model="meeting.chatText"
                                            ng-keypress="fireChat($event, meeting)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!--<div ng-repeat="message in meeting.chatLog">{{message.name}}: {{message.text}}</div>
                                <input type='text' id='messageInput'
                                class="form-control" placeholder='Message' ng-model="meeting.chatText"
                                ng-keypress="fireChat($event, meeting)">-->
                            <div class="row">
                                <!--<div class="btn btn-default" ng-class="{'btn-success': meeting.status=='accept'}"
                                disabled>Accept</div>-->
                                <!--<div class="btn btn-default" ng-class="{'btn-warning': meeting.status=='decline'}"
                                disabled>Decline</div>-->
                                <div class="btn btn-danger" ng-click="cancel(meeting, $index)">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div ng-show="confirmedmeetings.length> 0">
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            </div> --></div>
        <br>
        <!--<div class="list-group container" ng-repeat="meeting in confirmedmeetings">-->
        <!-- <div class="list-group-item animate-repeat row nomargin" style="border:1px
        solid #978">-->
        <!-- <div class="col-sm-3">-->
        <!-- <img ng-src="{{meeting.from.picture}}" class="img-rounded col-sm-12">-->
        <!-- </div>-->
        <!-- <div class="col-sm-3">-->
        <!-- <img ng-src="{{meeting.to.picture}}" class="img-rounded col-sm-12">-->
        <!-- </div>-->
        <!-- <div class="col-sm-6">-->
        <!-- <h4 class="list-group-item-heading">{{meeting.from.username}}-{{meeting.to.username}} Meeting</h4>-->
        <!-- <div class="list-group-item-text container">-->
        <!-- <div class="row">-->
        <!-- <i>{{meeting.message}}</i>-->
        <!-- </div>-->
        <!-- <div class="row">Topics: {{meeting.to.status}}</div>-->
        <!-- <div class="row">-->
        <!-- <span>Location: {{meeting.place}}</span>-->
        <!-- </div>-->
        <!-- <div class="row">-->
        <!-- <div>Detailed location: {{meeting.detailedPlace}}-->
        <!-- </div>-->
        <!--<div ng-click="editLocation(meeting)" ng-hide="meeting.showEditLocation">-->
        <!-- {{meeting.detailedPlace}}-->
        <!-- <div class="glyphicon glyphicon-edit"></div>-->
        <!--</div>-->
        <!--<input class="form-control" id="locationinput" type="text" ng-model="meeting.detailedPlace"
        ng-show="meeting.showEditLocation" ng-blur="updateMeeting(meeting)"></input>-->
        <!-- </div>-->
        <!-- <div class="row">-->
        <!-- <span>Day: {{meeting.date}} {{meeting.day}}</span>-->
        <!-- </div>-->
        <!-- <div class="row">-->
        <!-- <span>Time: {{meeting.time.from}} - {{meeting.time.to}}</span>-->
        <!-- </div>-->
        <!-- <div class="row">-->
        <!--<div class="btn btn-default" ng-class="{'btn-success': meeting.status=='accept'}"
        disabled>Accept</div>-->
        <!--<div class="btn btn-default" ng-class="{'btn-warning': meeting.status=='decline'}"
        disabled>Decline</div>-->
        <!-- <div class="btn btn-danger" ng-click="cancel(meeting, $index)">Cancel</div>-->
        <!-- </div>-->
        <!-- </div>-->
        <!-- </div>-->
        <!-- </div>-->
        <!--</div>-->
        <ul class="nav nav-tabs">
            <li ng-class="{'active': tab=='inc' }">
                <a href="#" ng-click="tab='inc';">Incoming 
                    <script>
                        //SEGMENT.IO TRACKING CODE
                    analytics.track('Meeting-ClickIncoming', {
                        event: 'Click'
                    });
                    </script>
                <span class="badge-info">{{meetings.length>0 ? "   " + meetings.length : ""}}</span></a>
            </li>
            <!--<li ng-class="{'active': tab=='upc' }">-->
            <!-- <a href="#" ng-click="tab='upc';">Upcoming meetings</a>-->
            <!--</li>-->
            <li ng-class="{'active': tab=='out' }">
                <a href="#" ng-click="tab='out';">Pending {{sentmeetings.length>0 ? "   " + sentmeetings.length : ""}}
                      <script>
                        //SEGMENT.IO TRACKING CODE
                    analytics.track('Meeting-ClickPending', {
                        event: 'Click'
                    });
                    </script> 
                    
                </a>
            </li>
            <!-- <li ng-class="{'active': tab=='dec' }">
                <a href="#" ng-click="tab='dec';">Decline invitations</a>
            </li> -->
        </ul>
        <br>
        <!-- Pending Invitations -->
        <div style="min-height:300px;">
            <div ng-show="tab=='out' && (!sentmeetings || sentmeetings.length == 0)">
                <span>No pending invitations.</span>
                <a href="/mainpage.html">create an invitation</a>
            </div>
            <div class="list-group container" ng-show="tab=='out'" ng-repeat="meeting in sentmeetings">
                <div class="list-group-item animate-repeat row nomargin" style="padding:20px;">
                    <div class="col-sm-3">
                        <img ng-src="{{meeting.to.picture}}" class="thumbnail img-rounded col-sm-12"
                        style="margin:auto;">
                    </div>
                    <div class="col-sm-9">
                        <h2 class="list-group-item-heading">You invited {{meeting.to.username}}</h2>
                        <div class="list-group-item-text container">
                            <div class="row">
                                <i>{{meeting.message}}</i>
                            </div>
                            <div class="row">
                                <b>Topics:</b>{{meeting.to.status}}</div>
                            <div class="row">
                                <span>
                                    <b>Location:</b>{{meeting.place}}</span>
                            </div>
                            <div class="row" ng-show="meeting.detailedPlace">
                                <span>
                                    <b>Detailed:</b>{{meeting.detailedPlace}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Date:</b>{{meeting.day}} {{meeting.date}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Time:</b>{{meeting.time.from}} - {{meeting.time.to}}</span>
                            </div>
                            <div class="row">
                                <!--<div class="btn btn-default" ng-class="{'btn-success': meeting.status=='accept'}"
                                disabled>Accept</div>-->
                                <!--<div class="btn btn-default" ng-class="{'btn-warning': meeting.status=='decline'}"
                                disabled>Decline</div>-->
                                <div class="btn btn-danger" ng-click="del(meeting, $index)">Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Incoming Invitations -->
            <div ng-show="tab=='inc' && (!meetings || meetings.length == 0)">
                <span>No incoming invitations.</span>
            </div>
            <div class="list-group container" ng-show="tab=='inc'" ng-repeat="meeting in meetings"
            ng-init="checkConflict(meeting)">
                <div class="list-group-item animate-repeat row nomargin" style="padding:20px;">
                    <div class="col-sm-3">
                        <img ng-src="{{meeting.from.picture}}" class="thumbnail img-rounded col-sm-12"
                        style="margin:auto;">
                    </div>
                    <div class="col-sm-9">
                        <div class="alert alert-danger" ng-show="meeting.warnmessage" style="margin:0px">{{meeting.warnmessage}}</div>
                        <h2 class="list-group-item-heading">{{meeting.from.username}} invited you</h2>
                        <div class="list-group-item-text container">
                            <div class="row">
                                <i>{{meeting.message}}</i>
                            </div>
                            <div class="row">
                                <b>Topics:</b>{{meeting.from.status}}</div>
                            <div class="row">
                                <span>
                                    <b>Location:</b>{{meeting.place}}</span>
                            </div>
                            <div class="row" ng-show="meeting.detailedPlace">
                                <span>
                                    <b>Detailed:</b>{{meeting.detailedPlace}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Date:</b>{{meeting.day}} {{meeting.date}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Time:</b>{{meeting.time.from}} - {{meeting.time.to}}</span>
                            </div>
                            <div class="row">
                                <button type="button" class="btn {{meeting.status =='accept' ? ' btn-success' : ' btn-default'}}"
                                ng-click="accept(meeting)">Accept</button>
                                <button type="button" class="btn {{meeting.status =='decline' ? ' btn-warning' : ' btn-default'}}"
                                ng-click="decline(meeting)">Decline</button>
                                <!-- Reschedule button -->
                                <!--<button type="button" class="btn {{meeting.status=='reschedule' ?
                                ' btn-info' : ' btn-default'}}" ng-click="reschedule(meeting)">Reschedule</button>-->
                                <!-- Collapsed Available time -->
                                <!--<div id="addProject{{meeting._id}}" class="container" ng-class="{collapse
                                : meeting.status!='reschedule'}">-->
                                <!-- <div class="row" ng-repeat="availtime in meeting.from.availtime">-->
                                <!-- <button class="btn btn-default col-sm-12" ng-class="{'btn-primary':availtime.common}"
                                ng-click="sendInvitation(meeting.from,availtime.day,availtime.time)">{{availtime.day}} - {{availtime.time}} {{availtime.place}}</button>-->
                                <!-- </div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Decline Invitations -->
            <div ng-show="tab=='dec' && (!declinemeetings || declinemeetings.length == 0)">
                <span>No decline invitations.</span>
            </div>
            <div class="list-group container" ng-show="tab=='dec'" ng-repeat="meeting in declinemeetings">
                <div class="list-group-item animate-repeat row nomargin" style="padding:20px;">
                    <div class="col-sm-3">
                        <img ng-src="{{meeting.from.picture}}" class="thumbnail img-rounded col-sm-12"
                        style="margin:auto;">
                    </div>
                    <div class="col-sm-9">
                        <h2 class="list-group-item-heading">{{meeting.from.username}} invited you</h2>
                        <div class="list-group-item-text container">
                            <div class="row">
                                <i>{{meeting.message}}</i>
                            </div>
                            <div class="row">
                                <b>Topics:</b>{{meeting.from.status}}</div>
                            <div class="row">
                                <span>
                                    <b>Location:</b>{{meeting.place}}</span>
                            </div>
                            <div class="row" ng-show="meeting.detailedPlace">
                                <span>
                                    <b>Detailed:</b>{{meeting.detailedPlace}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Date:</b>{{meeting.day}} {{meeting.date}}</span>
                            </div>
                            <div class="row">
                                <span>
                                    <b>Time:</b>{{meeting.time.from}} - {{meeting.time.to}}</span>
                            </div>
                            <div class="row">
                                <button type="button" class="btn {{meeting.status =='accept' ? ' btn-success' : ' btn-default'}}"
                                ng-click="accept(meeting)">Accept</button>
                                <button type="button" class="btn {{meeting.status =='decline' ? ' btn-warning' : ' btn-default'}}"
                                ng-click="decline(meeting)">Decline</button>
                                <!-- Reschedule button -->
                                <!--<button type="button" class="btn {{meeting.status=='reschedule' ?
                                ' btn-info' : ' btn-default'}}" ng-click="reschedule(meeting)">Reschedule</button>-->
                                <!-- Collapsed Available time -->
                                <!--<div id="addProject{{meeting._id}}" class="container" ng-class="{collapse
                                : meeting.status!='reschedule'}">-->
                                <!-- <div class="row" ng-repeat="availtime in meeting.from.availtime">-->
                                <!-- <button class="btn btn-default col-sm-12" ng-class="{'btn-primary':availtime.common}"
                                ng-click="sendInvitation(meeting.from,availtime.day,availtime.time)">{{availtime.day}} - {{availtime.time}} {{availtime.place}}</button>-->
                                <!-- </div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Invitation letter</h3>
                    </div>
                    <div class="modal-body">
                        <div style="border-radius:15px; padding: 20px;">
                            <div>
                                <span>From: {{newMeeting.from.username}}</span>
                            </div>
                            <div>
                                <span>Hi {{newMeeting.to.username}},</span>
                            </div>
                            <div>
                                <i>{{newMeeting.message}}</i>
                            </div>
                            <div>
                                <span>Date: {{newMeeting.date}} {{newMeeting.day}} {{meeting.time.from}} - {{meeting.time.to}}</span>
                            </div>
                            <div>
                                <span>Place: {{newMeeting.place}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" ng-click="sendMessage()">Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        </div>
        <div ng-include="'/infomodal.html'"></div>
        <div ng-include="'/feedback.html'"></div>
        <div ng-include="'/contact.html'"></div>
        <div ng-include="'/footer.html'"></div>
    </body>

</html>
