<script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
<div class='header-main navbar-fixed-top' ng-controller="NavController">
    <div class='container'>
        <nav height='50px' class='navbar navbar-default' role='navigation'>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-ex1-collapse' data-toggle='collapse'
                type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='current navbar-brand' href='index.html'>
              <img alt='' height='50px' src='/img/logo.png'>
            </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='collapse navbar-collapse navbar-ex1-collapse'>
                <a class='btn btn-default navbar-btn navbar-right' data-toggle='modal'
                ng-click="signOut()">
              Sign Out
              <i class='icon-signout'></i>
            </a>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active: page=='profile'}">
                        <a href="/profile.html">Profile              
            </a>
                    </li>
                    <li ng-class="{active: page=='mainpage'}">
                        <a href="/mainpage.html">Finder
                              
            </a>
                    </li>
                    <li ng-class="{'active': page=='mymeetings'}">
                        <a href="/mymeetings.html">Meetings 
                           
                        <span class="badge-info">{{numberOfInvites}}</span>
                    </a>
                    </li>
                    <li ng-class="{'active': page=='whatnew'}">
                        <a href="/whatnew.html">What's New 
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--<div class="separator-shadow-bottom">-->
    <!--    <img alt="" src="assets/images/shadow-separator-wide-bottom.png">-->
    <!--</div>-->
</div>