<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='assets/css/app.css'>
        <link rel='stylesheet' href='assets/css/animate.min.css'>
        <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
        <!--rel='stylesheet' type='text/css'>-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
        rel="stylesheet">
        <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
        <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
        <title>chatsey</title>
        <script src='assets/js/jquery.js'></script>
        <script src='assets/js/bootstrap/button.js'></script>
        <script src='assets/js/bootstrap/carousel.js'></script>
        <script src='assets/js/bootstrap/transition.js'></script>
        <script src='assets/js/bootstrap/collapse.js'></script>
        <script src='assets/js/bootstrap/modal.js'></script>
        <script src='assets/js/bootstrap/dropdown.js'></script>
        <script src='assets/js/jquery.visible.min.js'></script>
        <script src='assets/js/bootstrap/tab.js'></script>
        <script src='assets/js/jquery.isotope.min.js'></script>
        <script src='assets/js/jquery.knob.js'></script>
        <script src='assets/js/jquery.scrollUp.min.js'></script>
        <script src='assets/js/application.js'></script>
        <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
        <link rel="stylesheet" href="/css/app.css">
        <script src="assets/js/moment-with-langs.js"></script>
        <script src="assets/js/lodash.js"></script>
        <script src="assets/js/uuid.js"></script>
        <script src="assets/js/jquery.Jcrop.js"></script>
        <script src="assets/js/jquery.color.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
        <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/bower_components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script 
        <script src="/js/common/nav.js"></script>
        <script src="/js/common/date.js"></script>
        <script src="/js/form-validation/profile-validation.js"></script>
        <script src="/js/common/feedback.js"></script>
        <script src='/js/common/contact.js'></script>
        <script src="/js/profile.js"></script>
        <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
    </head>
    
    <body ng-cloak ng-controller="ProfileController">
        <div ng-include="'/nav.html'" , onload="page='profile'"></div>
        <div class="container">
            <!-- Alert -->
            
            <div style="position: fixed; top: 90px; right: -5px; z-index:10000;"
            class="alert col-md-3" ng-class="{'alert-danger': status=='error', 'alert-info': status =='saving', 'alert-success':status=='saved'}"
            ng-show="message">{{message}}</div>
            
            <br>
            
            <!-- Form -->
            <form role="form" autocomplete="off">
                <div class="form-group">
                    <div class="row">
                        <!-- Profile picure -->
                        <div class="col-sm-3 col-xs-12">
                            <!--<h4>&nbsp;</h4>-->
                                <div class="img-thumbnail col-xs-12">
                                    <div class="profileImg imageContainer">
                                        <img ng-src="{{user.picture}}" id="target" class="col-xs-12"/>
                                        <div class="imageCaption">
                                            <p class="imageCaptionButton" ng-click="upload()">
                                                Edit Profile Picture
                                            </p>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            
                        </div>
                        
                        <!-- Other account info -->
                        
                        <div class="col-sm-9 col-xs-12">
                            <h4>General Account Settings</h4>
                            <table class="table table-hover table-profile-form">
                                <tbody>
                                    <!-- First Name -->
                                    <tr>
                                        <td>First Name</td>
                                        <td  ng-click="editFirstName = editModeOn(user.firstName, 'firstNameInput')">
                                            <p ng-hide="editFirstName" ng-class="{'text-danger' : !user.firstName}">{{user.firstName || "First name cannot be empty"}}</p>
                                            <input
                                            id="firstNameInput" class="form-control" type="text" ng-show="editFirstName"
                                            ng-model="user.firstName" ng-blur="editFirstName = editModeOff()" ng-keyup="editFirstName = onKeyUp($event,user.firstName)">
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr>
                                    
                                    <!-- Last Name -->
                                    <tr>
                                        <td>Last Name</td>
                                        <td  ng-click="editLastName = editModeOn(user.lastName, 'lastNameInput')">
                                            <p ng-hide="editLastName" ng-class="{'text-danger' : !user.lastName}">{{user.lastName || "Last name cannot be empty"}}</p>
                                            <input
                                            id="lastNameInput" class="form-control" type="text" ng-show="editLastName"
                                            ng-model="user.lastName" ng-blur="editLastName = editModeOff()" ng-keyup="editLastName = onKeyUp($event,user.lastName)">
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr>
                                    
                                    <!-- Username -->
                                    <tr>
                                        <td>Username</td>
                                        <td  ng-click="editUsername = editModeOn(user.username, 'usernameInput')">
                                            <p ng-hide="editUsername" ng-class="{'text-danger' : !user.username}">{{user.username || "Username cannot be empty"}}</p>
                                            <input id="usernameInput"
                                            class="form-control" type="text" ng-show="editUsername" ng-model="user.username"
                                            ng-blur="editUsername = editModeOff()" ng-keyup="editUsername = onKeyUp($event,user.username)">
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr>
                                    <!-- Phone Number -->
                                    <!-- <tr>
                                        <td>Phone</td>
                                        <td  ng-click="editPhone = editModeOn(user.phone, 'phoneInput')">
                                            <p ng-hide="editPhone" ng-class="{'text-muted' : !user.phone}">{{user.phone || "Please enter your phone number"}}</p>
                                            <input id="phoneInput" class="form-control"
                                            type="text" ng-show="editPhone" ng-model="user.phone" 
                                            ng-blur="editPhone = editModeOff()" ng-keyup="editPhone = onKeyUp($event,user.phone)">
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr> -->
                                    <!--Field of study -->
                                    <!-- <tr>
                                        <td>Field of Study</td>
                                        <td  ng-click="editCourse = editModeOn(user.course, 'courseInput')">
                                            <p ng-hide="editCourse" ng-class="{'text-muted' : !user.course}">{{user.course || "Enter your field of study"}}</p>
                                            <input id="courseInput"
                                            class="form-control" type="text" ng-show="editCourse" ng-model="user.course"
                                            ng-blur="editCourse = editModeOff()" ng-keyup="editCourse = onKeyUp($event,user.course)">
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr> -->
                                    
                                    <!--Gender -->
                                    <tr>
                                        <td>Gender</td>
                                        <td ng-click="editGender = editModeOn(user.gender, 'genderSelector')">
                                            <p ng-hide="editGender" ng-class="{'text-muted' : !user.gender}">{{user.gender || "Please choose your gender"}}</p>
                                            <select id="genderSelector" class="form-control" ng-model="user.gender" ng-show="editGender"
                                            ng-blur="editGender = editModeOff()" ng-click="editGender = editModeOff()">
                                                <option>Female</option>
                                                <option>Male</option>
                                                <option>Other</option>
                                            </select>
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Security Settings</h4>
                            <table class="table table-hover table-profile-form">
                                <tbody>
                                    <!-- Password -->
                                    <tr>
                                        <td>Password</td>
                                        <td  ng-click="editPassword = editPassword || editModeOn(user.password, 'oldPassInput')">
                                            <p ng-hide="editPassword" class="text-muted">Click here to change password</p>
                                            <div ng-show="editPassword">
                                                
                                                    
                                                <div class="col-md-5">
                                                    <input id="oldPassInput" class="form-control" type="password" ng-model="currentPassword" placeholder="Old password">
                                                    <input id="newPassInput" class="form-control" type="password" ng-model="newPassword" placeholder="New password"></p>
                                                    <input id="retypePassInput" class="form-control" type="password" ng-model="retypePassword" placeholder="Retype password">
                                                </div>
                                                
                                            </div>
                                            
                                        </td>
                                        <td><div class="icon-edit rowEditIcon"></div></td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-include="'/feedback.html'"></div>
        <div ng-include="'/footer.html'"></div>
    </body>

</html>
