<!doctype html>
<html lang="en">
    
    <head>
        <title>Sign Up</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='assets/css/app.css'>
        <link rel='stylesheet' href='assets/css/animate.min.css'>
        <link rel="stylesheet" href="/css/app.css">
        
        <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
        <!--rel='stylesheet' type='text/css'>-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
        rel="stylesheet">
        <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
        <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
        <title>chatsey</title>
        <script src='assets/js/jquery.js'></script>
        <script src='assets/js/bootstrap/button.js'></script>
        <script src='assets/js/bootstrap/carousel.js'></script>
        <script src='assets/js/bootstrap/transition.js'></script>
        <script src='assets/js/bootstrap/collapse.js'></script>
        <script src='assets/js/bootstrap/modal.js'></script>
        <script src='assets/js/bootstrap/dropdown.js'></script>
        <script src='assets/js/jquery.visible.min.js'></script>
        <script src='assets/js/bootstrap/tab.js'></script>
        <script src='assets/js/jquery.isotope.min.js'></script>
        <script src='assets/js/jquery.knob.js'></script>
        <script src='assets/js/jquery.scrollUp.min.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/css/app.css"> -->
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="/js/common/nav.js"></script>
        <script src='/js/common/contact.js'></script>
        <script src="/js/signup.js"></script>
        <script src="/js/form-validation/profile-validation.js"></script>
        <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
    </head>
    
    <body ng-cloak style="padding-top:0px !important;">
        <div ng-include="'/contact.html'"></div>
        <div class='noise-wrapper'>
            <div ng-include="'/header.html'"></div>
            <div class='separator-shadow-bottom'>
                <img alt='' src='assets/images/shadow-separator-wide-bottom.png'>
            </div>
            <div class='container' ng-controller="SignUpController">
                <div class="col-md-12">
                    <div class="alert" ng-class="{'alert-danger': status=='error', 'alert-info': status=='signingup', 'alert-success':status=='signedup'}"
                    ng-show="message">
                        <p ng-show="status =='signedup'">
                            <b>Congratulations !</b>
                        </p>{{message}}</div>
                    <div ng-show="status=='signedup'">
                        <button class="btn btn-primary" ng-click="redirectSignin()">Sign in</button>
                    </div>
                    <form class="form-horizontal" role="form" ng-hide="status=='signedup'">
                        <h1>Sign up</h1>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="inputUsername">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputUsername" ng-model="user.username"
                                placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="inputEmail">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputEmail" ng-model="user.email"
                                placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="firstName">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="firstName" ng-model="user.firstName"
                                placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="lastName">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="lastName" ng-model="user.lastName"
                                placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="inputPassword">Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="inputPassword" ng-model="user.password"
                                placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 " for="inputPassword">Phone (optional)</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputPhone" ng-model="user.phone"
                                placeholder="Phone (optional)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" ng-click="sendSignUpInfo()" ng-disabled=" (status =='signingup' || status=='signedup')"
                                class="btn btn-primary">Sign up</button>
                                <span>
                                    <br>
                                    <br>Already a member?
                                    <a type="submit" href="/signin.html">Sign in
                      
                                      <script>
                                          //SEGMENT.IO TRACKING CODE
                                            analytics.track('Signup-ClickSignIn', {
                                                event: 'Click'
                                            });
                                      </script>
                  </a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<div class='separator-shadow-top above-screenshot-shadow'>-->
            <!--    <img alt='' src='assets/images/shadow-separator-wide-top.png'>-->
            <!--</div>-->
        </div>
        </div>
        <div ng-include="'/contact.html'"></div>
        <div ng-include="'/footer.html'"></div>
    </body>

</html>
