<!doctype html>
<html lang="en">
  
  <head>
    <!-- <title>Sign In</title> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='assets/css/app.css'>
    <link rel='stylesheet' href='assets/css/animate.min.css'>
    <link rel="stylesheet" href="/css/app.css">
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
    <!--rel='stylesheet' type='text/css'>-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    rel="stylesheet">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
    <title>chatsey</title>
    <script src='assets/js/jquery.js'></script>
    <script src='assets/js/bootstrap/button.js'></script>
    <script src='assets/js/bootstrap/carousel.js'></script>
    <script src='assets/js/bootstrap/transition.js'></script>
    <script src='assets/js/bootstrap/collapse.js'></script>
    <script src='assets/js/bootstrap/modal.js'></script>
    <script src='assets/js/bootstrap/dropdown.js'></script>
    <script src='assets/js/jquery.visible.min.js'></script>
    <script src='assets/js/bootstrap/tab.js'></script>
    <script src='assets/js/jquery.isotope.min.js'></script>
    <script src='assets/js/jquery.knob.js'></script>
    <script src='assets/js/jquery.scrollUp.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="/js/common/nav.js"></script>
    <script src='/js/common/contact.js'></script>
    <script src="/js/signin.js"></script>
    <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
  </head>
  
  <body ng-cloak style="padding-top:0px !important;">
    <div ng-include="'/contact.html'"></div>
    <div class='noise-wrapper'>
      <div ng-include="'/header.html'"></div>
      <div class='separator-shadow-bottom'>
        <img alt='' src='assets/images/shadow-separator-wide-bottom.png'>
      </div>
      <div class='container' ng-controller="SignInController">
        <div class="col-md-12">
          <div class="alert alert-danger" ng-show="message">{{message}}</div>
          <div class="col-md-12 controls">
            <form class="form-horizontal">
              <h1>Sign in</h1>
              <div class="form-group">
                <label class="control-label col-md-2" for="inputUsername">Username</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputUsername" ng-model="user.username"
                  placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-2 " for="inputPassword">Password</label>
                <div class="col-md-10">
                  <input type="password" class="form-control" id="inputPassword" ng-model="user.password"
                  placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" ng-click="sendSignInInfo()" class="btn btn-primary">Sign in
                        <script>
                            //SEGMENT.IO TRACKING CODE
                            analytics.track('SignIn-ClickSignIn', {
                                event: 'Click'
                            });
                        </script>
                  </button>
                  <span>
                    <br>
                    <br>Not a member?
                    <a type="submit" href="/signup.html">Sign up
                        <script>
                            //SEGMENT.IO TRACKING CODE
                            analytics.track('SignIn-ClickSignUp', {
                                event: 'Click'
                            });
                        </script>
                    </a>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--<div class='separator-shadow-top above-screenshot-shadow'>-->
      <!--  <img alt='' src='assets/images/shadow-separator-wide-top.png'>-->
      <!--</div>-->
    </div>
    <div ng-include="'/footer.html'"></div>
  </body>

</html>
