<!doctype html>
<html lang="en">
  <!-- ******************** INCLUDES **********************-->
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='assets/css/app.css'>
    <link rel='stylesheet' href='assets/css/animate.min.css'>
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yanone+Kaffeesatz:200,300,400,700|Raleway:200,300,400,500,700'-->
    <!--rel='stylesheet' type='text/css'>-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    rel="stylesheet">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <link href="/img/apple-touch-icon.png" type="image/png" rel="apple-touch-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!--[if lt IE 9]>@javascript html5shiv respond.min<![endif]-->
    <title>chatsey</title>
    <script src='assets/js/jquery.js'></script>
    <script src='assets/js/bootstrap/button.js'></script>
    <script src='assets/js/bootstrap/carousel.js'></script>
    <script src='assets/js/bootstrap/transition.js'></script>
    <script src='assets/js/bootstrap/collapse.js'></script>
    <script src='assets/js/bootstrap/modal.js'></script>
    <script src='assets/js/bootstrap/dropdown.js'></script>
    <script src='assets/js/jquery.visible.min.js'></script>
    <script src='assets/js/bootstrap/tab.js'></script>
    <script src='assets/js/jquery.isotope.min.js'></script>
    <script src='assets/js/jquery.knob.js'></script>
    <script src='assets/js/jquery.scrollUp.min.js'></script>
    <script src='assets/js/application.js'></script>
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
    <script src="assets/js/moment-with-langs.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/kinvey-html5-1.1.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!--<script src="assets/js/typeahead.js"></script>-->
    <script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/js/common/date.js"></script>
    <script src="/js/common/nav.js"></script>
    <script src="/js/common/feedback.js"></script>
    <script src='/js/common/contact.js'></script>
    <script src="/js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/async.js"></script>
    <script src="/js/whatnew.js"></script>
    <script type="text/javascript" src="/js/segmentIO_tracker.js"></script>
    </script>
    <link rel="stylesheet" href="/css/app.css">
    <style>
      .table-borderless td {
        border:none;
      }
    </style>
  </head>
  <!-- ************** END OF INCLUDES **************** -->
  <!-- *********** MAIN CODE BODY ************ -->
  
  <body ng-cloak ng-controller="WhatNewController">
    <div ng-include="'/nav.html'" , onload="page='whatnew'"></div>
    <div style="background-color:#F0F0F0; padding-top:40px !important">
      <div class="container">
        <div class="list-group badge-wrapper" ng-repeat="promo in promos"
        style="box-shadow: 0px 0px 5px rgb(200,200,200); cursor: pointer;" ng-click="invite(other_user)">
          <div class="badge" ng-show="other_user.suggested">Suggested</div>
          <div class="list-group-item animate-repeat row nomargin"
          style="padding:20px;">
            <div class="col-sm-12 col-xs-12" style="text-align:center">
              <img ng-src="{{promo.picture}}" class="thumbnail img-rounded col-sm-12"
              style="margin:auto;">
              <h4 class="list-group-item-heading">{{promo.title}}</h4>
              <span class="list-group-item-text">{{promo.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>    
    
  </body>

</html>
