.otherChat{
  color: green;
}
.badge-wrapper{
  position: relative;
}
.badge{
  position: absolute !important;
  left: -30px;
  top: 30px;
  z-index: 800;
  border-radius: 0px !important;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.navbar-default .navbar-toggle{
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ccc;
}
.modal-dialog {
  padding-bottom: 150px;
}
b {
  padding-right: 5px;
}
li.active {
  background: #eee;
}
html {
    position:relative;
    min-height:100%;
}
body {
/*  padding-top: 62px;*/
  margin-top:50px;
/*  margin-bottom:100px;*/
}
.commontime {
  background-color: #aed;
}
.nomargin {
  margin-left:0px;
  margin-right:0px;
}
/**
 * Checkbox Five
 */
 .checkboxFive {
  width: 25px;
  position: relative;
}
/**
 * Create the box for the checkbox
 */
 .checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}
/**
 * Display the tick inside the checkbox
 */
 .checkboxFive label:after {
  opacity: 0.2;
  content:'';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
 .checkboxFive label:hover::after {
  opacity: 0.5;
}
/**
 * Create the checkbox state for the tick
 */
 .checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.animate-repeat.ng-enter, .animate-repeat.ng-leave, .animate-repeat.ng-move {
  -webkit-transition:all linear 1.5s;
  -moz-transition:all linear 1.5s;
  -o-transition:all linear 1.5s;
  transition:all linear 1.5s;
}
.animate-repeat.ng-enter {
  opacity:0;
}
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}
.animate-repeat.ng-leave {
  opacity:1;
}
.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
}
.animate-repeat.ng-move {
}
.animate-repeat.ng-move.ng-move-active {
}
.carousel-indicators .active {
  background-color: #000;
}
.carousel-indicators li {
  border: 1px solid #000;
}
.carousel-control {
  color: #000;
}
.carousel-control.left {
  background-image:-webkit-gradient(linear, 0 top, 100% top, from(rgba(200, 0, 200, 0.5)), to(rgba(255, 255, 255, 0.0001)));
  background-image:-webkit-linear-gradient(left, color-stop(rgba(200, 0, 200, 0.5) 0), color-stop(rgba(255, 255, 255, 0.0001) 100%));
  background-image:-moz-linear-gradient(left, rgba(200, 0, 200, 0.5) 0, rgba(255, 255, 255, 0.0001) 100%);
  background-image:linear-gradient(to right, rgba(200, 0, 200, 0.5) 0, rgba(255, 255, 255, 0.0001) 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}
.carousel-control.right {
  right:0;
  left:auto;
  background-image:-webkit-gradient(linear, 0 top, 100% top, from(rgba(255, 255, 255, 0.0001)), to(rgba(200, 0, 200, 0.5)));
  background-image:-webkit-linear-gradient(left, color-stop(rgba(255, 255, 255, 0.0001) 0), color-stop(rgba(200, 0, 200, 0.5) 100%));
  background-image:-moz-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0, rgba(200, 0, 200, 0.5) 100%);
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0, rgba(200, 0, 200, 0.5) 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}
.carousel-control:hover, .carousel-control:focus {
  color:#fff;
  text-decoration:none;
  opacity:.9;
  filter:alpha(opacity=90)
}
/*.navbar-brand{*/
/*  padding-bottom: 5px;*/
/*  padding-top:5px;*/
/*}*/
/*.header-main  {*/
/*  background-color: #fc892d;*/
/*}*/
/* Set the fixed height of the footer here */
 #footer {
  height: 55px;
  background-color: #f5f5f5;
}
.container {
  /*width: auto;*/
  /*max-width: 680px;*/
  /*padding: 0 15px;*/
}
.container .credit {
  margin: 20px 0;
}

.red {
  /*border-width: 5px;*/
  background-color: red; /* background color */
  border-color: red;     /* border color */
  color: white;              /* text color */
}

/* Image Container ******************** */

.img-thumbnail {
    background-color:white;
}

.imageContainer {
    position:relative;
}

.imageContainer img {
    width:100%;
}

.imageContainer .imageCaption {
    position:absolute;
    bottom:0px;
    width:100%;
    background-color:rgba(0,0,0,0.7);
}

.imageCaptionButton {
    text-align:center;
    color:white;
    padding:5px;
    cursor:pointer;
    margin-bottom:0px;
    font-family:'Lucida Grande';
    font-size:14px;
}

/* Table *************************** */

/* 1. Table for setting form */

table.table-profile-form tbody tr {
    cursor:pointer;
    line-height:auto;
}

table.table-profile-form tbody tr:first-child td {
    border-top-color:rgb(150,150,150);
}

table.table-profile-form tbody tr:last-child td {
}

table.table-profile-form tbody tr td {
    padding:12px;
    border-bottom-width:2px;
}

table.table-profile-form tbody tr td:first-child {
    width:150px;
    font-weight:bold;
    font-family:'Lucida Grande';
    font-size:14px;
}

table.table-profile-form tbody tr td:nth-child(2) p {
    font-family:'Lucida Grande';
    margin-bottom:0px;
    font-size:14px;
}

table.table-profile-form tbody tr td:last-child {
    width:30px;
    color: rgb(50,50,50);
    vertical-align:center;
}

/* 2. Borderless table */

table.table-borderless tbody tr td {
    border:none;
}

tbody tr td .rowEditIcon {
    visibility:hidden;
}

tbody tr:hover td .rowEditIcon {
    visibility:visible;
}

/* Header & Footer -----------------*/

.navbar.navbar-default {
    padding-bottom:0px;
    padding-top:0px;
}

footer#main-footer {
    background-color:#535353;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

/* Navbar --------------------*/

.navbar-brand {
    padding:0px 0px;
}

.navbar-collapse {
    padding-left:0px;
    padding-right:0px;
}
